In [1]:
# Preliminares 

import re
import pandas as pd

In [2]:
# Datos 

ubicaciones_clientes = pd.read_excel("../Limpia/Ubicaciones_direcciones.xlsx")
tareas = pd.read_excel("../Limpia/Tareas-limpio.xlsx")

In [3]:
tareas.info()
tareas.sample(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286 entries, 0 to 1285
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODIGO    1286 non-null   int64
 1   PROYECTO  1286 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.2+ KB

      CODIGO                PROYECTO
1119   22336     Clientes Especiales
730    80308  Ruta Alejandro Viernes

In [4]:
# check 
ubicaciones_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     720 non-null    int64
 1   NOMCLI     720 non-null    object
 2   LATITUD    720 non-null    float64
 3   UBICACIÓN  720 non-null    object
 4   LONGITUD   720 non-null    float64
 5   FECHA      720 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 33.9+ KB

In [5]:
# Sacamos Fecha

ubicaciones_clientes =ubicaciones_clientes.drop(columns=["FECHA"])
ubicaciones_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     720 non-null    int64
 1   NOMCLI     720 non-null    object
 2   LATITUD    720 non-null    float64
 3   UBICACIÓN  720 non-null    object
 4   LONGITUD   720 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 28.2+ KB

In [6]:
tareas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286 entries, 0 to 1285
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODIGO    1286 non-null   int64
 1   PROYECTO  1286 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.2+ KB

In [7]:
# Hay columnas repetidas tanto en codigo como proyecto, limpiamos.- 

tareas = tareas.drop_duplicates(subset=["CODIGO","PROYECTO"], keep="first")
tareas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1127 entries, 0 to 1285
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODIGO    1127 non-null   int64
 1   PROYECTO  1127 non-null   object
dtypes: int64(1), object(1)
memory usage: 26.4+ KB

In [8]:
# Union pero manteniendo tambien los que no tienen proyecto para poder visibilizarlo en el mapa: 

Tabla_Proyectos_Clientes = pd.merge(ubicaciones_clientes, tareas[['CODIGO', 'PROYECTO']], on='CODIGO', how='left')

Tabla_Proyectos_Clientes['PROYECTO'].fillna('sin proyecto', inplace=True)


Tabla_Proyectos_Clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1228 entries, 0 to 1227
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     1228 non-null   int64
 1   NOMCLI     1228 non-null   object
 2   LATITUD    1228 non-null   float64
 3   UBICACIÓN  1228 non-null   object
 4   LONGITUD   1228 non-null   float64
 5   PROYECTO   1228 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 57.7+ KB

C:\RTEMP\ipykernel_18268\488973835.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tabla_Proyectos_Clientes['PROYECTO'].fillna('sin proyecto', inplace=True)

In [9]:
# Ordeno como estaban: 

Tabla_Proyectos_Clientes = Tabla_Proyectos_Clientes[['CODIGO', 'PROYECTO', 'NOMCLI', 'UBICACIÓN', 'LATITUD', 'LONGITUD']]
Tabla_Proyectos_Clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1228 entries, 0 to 1227
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     1228 non-null   int64
 1   PROYECTO   1228 non-null   object
 2   NOMCLI     1228 non-null   object
 3   UBICACIÓN  1228 non-null   object
 4   LATITUD    1228 non-null   float64
 5   LONGITUD   1228 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 57.7+ KB

In [10]:
Tabla_Proyectos_Clientes.sample(30)

,CODIGO,PROYECTO,NOMCLI,UBICACIÓN,LATITUD,LONGITUD
74,80016,🗞 Visitas periodicas Martin,"80016, Acodike ( Migues ). Visita periodica",Marcador 83\n2024/11/02 @ 10:35:40\nhttp://map...,-34.486240,-55.630541
7,80309,Ruta Hugo Viernes,"80309,LOS HERMANOS","http://maps.google.com/?q=-34.734095,-55.767212",-34.734095,-55.767212
498,82177,Ruta Hugo Jueves,"82177,SEBASTIAN PALACIOS,24 HORAS PINAMAR",https://www.google.com/maps/place//@-34.767763...,-34.767763,-55.858343
1030,12930,Ruta Hugo Martes,LA BALIZA,"http://maps.google.com/?q=-34.766947228047805,...",-34.766947,-55.832894
768,81121,Ruta Alejandro Jueves,DEREK GONZALEZ,"http://maps.google.com/?q=-34.788060585586244,...",-34.788061,-55.873152
181,81220,🗞 Visitas periodicas Martin,"81220,ROMINA,EL TREBOL (SALINAS NORTE)",Marcador 22\n2024/10/17 @ 12:12:07\nhttp://map...,-34.776016,-55.848195
511,12938,💲Creditos Hugo,"12938, SUPER DESAFIO","Marcador 43\nlat/lng: (-34.77179,-55.8398)\n[h...",-34.771790,-55.839800
459,12194,Ruta Alejandro Sabado,"12194, NOEMI PEÑA","Marcador 32\nlat/lng: (-34.77807,-55.85706)\n[...",-34.778070,-55.857060
489,11168,Ruta Alejandro Viernes,"11168, LIFER","Marcador 175\nlat/lng: (-34.76413,-55.73598)\n...",-34.764130,-55.735980
229,80280,Ruta Dario Viernes,4 Soles,"http://maps.google.com/?q=-34.790882, -55.477888",-34.790882,-55.477888
656,80146,Ruta Alejandro Viernes,PAPELERIA NICO,"http://maps.google.com/?q=-34.766108563600454,...",-34.766109,-55.589718
0,80313,Ruta Dario Lunes,"80313,SOL Y AGU","http://maps.google.com/?q=-34.770816,-55.575468",-34.770816,-55.575468
67,80206,🗞 Visitas periodicas Martin,"80206,MARIA DE LOS ANGELES SANTOS (MIGUES)",Marcador 79\n2024/10/30 @ 11:35:18\nhttp://map...,-34.488593,-55.626940
766,42945,sin proyecto,ALEXANDRA LA 34,"http://maps.google.com/?q=-34.71896082562539,-...",-34.718961,-55.879029
752,80066,💲Creditos Dario,KARINA GONZALEZ,"http://maps.google.com/?q=-34.76839345663847,-...",-34.768393,-55.587089
753,23401,sin proyecto,Agustina Duarte,"http://maps.google.com/?q=-34.766212398708525,...",-34.766212,-55.649676
884,82007,🗞 Visitas periodicas Martin,LOS CUATRO SOLES,"http://maps.google.com/?q=-34.77002638929236,-...",-34.770026,-55.819593
628,12511,sin proyecto,"12511, SAGIDEL S.A.","Marcador 66\nlat/lng: (-34.77518,-55.83984)\n[...",-34.775180,-55.839840
399,62619,Ruta Hugo Lunes,"62619,LETICIA COSTA","Marcador 161\nlat/lng: (-34.77451,-55.79861)\n...",-34.774510,-55.798610
876,81104,Ruta Martin Jueves,EL COMIENZO,"http://maps.google.com/?q=-34.76483003148446,-...",-34.764830,-55.825232
1011,12327,🗞 Visitas periodicas Martin,CARINA BARDECIO,"http://maps.google.com/?q=-34.775039833219495,...",-34.775040,-55.841677
565,11975,Ruta Dario Viernes,"11975, DUNAS,PARQUE DEL PLATA NORTE","Marcador 134\nlat/lng: (-34.74643,-55.71194)\n...",-34.746430,-55.711940
243,80286,Ruta Hugo Miercoles,Minimercado,"http://maps.google.com/?q=-34.772887, -55.826571",-34.772887,-55.826571
754,13010,sin proyecto,POR ELLOS JESSICA:,"http://maps.google.com/?q=-34.7904346328566,-5...",-34.790435,-55.873970
81,81222,💲Creditos Martin,"81222,LOS GURICES",Marcador 7\n2024/10/17 @ 10:12:33\nhttp://maps...,-34.737791,-55.873839
1197,22810,🗞 Visitas Periodicas Dario,WILIAN RIERA,"http://maps.google.com/?q=-34.7950360478433,-5...",-34.795036,-55.495172
19,81199,Ruta Alejandro Miercoles,"81199,SUPER KIOSCO LA 3","http://maps.google.com/?q=-34.76409353070743,-...",-34.764094,-55.729789
665,22344,Ruta Dario Viernes,ANA MARTINEZ,"http://maps.google.com/?q=-34.76886579585116,-...",-34.768866,-55.591854
808,81010,🗞 Visitas periodicas Martin,Panadería bella joven (parque del Plata sur ),"http://maps.google.com/?q=-34.7660284149264,-5...",-34.766028,-55.718934
254,80289,Ruta Alejandro Jueves,Valeria Gómez,"http://maps.google.com/?q=-34.792579, -55.857373",-34.792579,-55.857373

## Exportamos

In [11]:
# Exportamos 
Tabla_Proyectos_Clientes.to_excel('../Limpia/Tabla_Proyectos_Clientes.xlsx', index=False)