In [1]:
# Preliminares 
import re
import pandas as pd

In [2]:
# Datos 
ubicaciones_clientes = pd.read_excel("../Limpia/Ubicaciones_direcciones.xlsx")
tareas = pd.read_excel("../Limpia/Tareas-limpio.xlsx")

In [3]:
tareas.info()
tareas.sample(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286 entries, 0 to 1285
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODIGO    1286 non-null   int64
 1   PROYECTO  1286 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.2+ KB

      CODIGO         PROYECTO
1245   12901  ðŸ’²Creditos Dario
1129   82169   ðŸ’²Creditos Hugo

In [4]:
# check 
ubicaciones_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     512 non-null    int64
 1   NOMCLI     512 non-null    object
 2   LATITUD    512 non-null    float64
 3   UBICACIÃ“N  512 non-null    object
 4   LONGITUD   512 non-null    float64
 5   FECHA      512 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 24.1+ KB

In [5]:
ubicaciones_clientes =ubicaciones_clientes[["CODIGO","NOMCLI","UBICACIÃ“N","LATITUD","LONGITUD"]]
ubicaciones_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     512 non-null    int64
 1   NOMCLI     512 non-null    object
 2   UBICACIÃ“N  512 non-null    object
 3   LATITUD    512 non-null    float64
 4   LONGITUD   512 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 20.1+ KB

In [6]:
tareas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286 entries, 0 to 1285
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODIGO    1286 non-null   int64
 1   PROYECTO  1286 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.2+ KB

In [7]:
Tabla_Proyectos_Clientes = pd.merge(tareas, ubicaciones_clientes, on=("CODIGO"), how="left")

In [8]:

Tabla_Proyectos_Clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1289 entries, 0 to 1288
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     1289 non-null   int64
 1   PROYECTO   1289 non-null   object
 2   NOMCLI     1139 non-null   object
 3   UBICACIÃ“N  1139 non-null   object
 4   LATITUD    1139 non-null   float64
 5   LONGITUD   1139 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 60.5+ KB

In [9]:
# Tabla_Proyectos_Clientes = Tabla_Proyectos_Clientes[["CODIGO", "NOMCLI", "PROYECTO", "UBICACIÃ“N"]]
Tabla_Proyectos_Clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1289 entries, 0 to 1288
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     1289 non-null   int64
 1   PROYECTO   1289 non-null   object
 2   NOMCLI     1139 non-null   object
 3   UBICACIÃ“N  1139 non-null   object
 4   LATITUD    1139 non-null   float64
 5   LONGITUD   1139 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 60.5+ KB

In [10]:
Tabla_Proyectos_Clientes.head(5)

,CODIGO,PROYECTO,NOMCLI,UBICACIÃ“N,LATITUD,LONGITUD
0,11975,Ruta Dario Lunes,"DUNAS,PARQUE DEL PLATA NORTE","Marcador 134\nlat/lng: (-34.74643,-55.71194)\n...",-34.746430,-55.711940
1,41938,Ruta Dario Lunes,ROSMARI,"Marcador 96\nlat/lng: (-34.7458,-55.75967)\n[h...",-34.745800,-55.759670
2,41939,Ruta Dario Lunes,LORENA,"Marcador 101\nlat/lng: (-34.74895,-55.76612)\n...",-34.748950,-55.766120
3,41971,Ruta Dario Lunes,PIZZERIA EL PAPO,"Marcador 22\nlat/lng: -34.74857,-55.76248\n[ht...",-34.748570,-55.762480
4,82191,Ruta Dario Lunes,EL GALPON,"http://maps.google.com/?q=-34.7569682,-55.7669689",-34.756968,-55.766969

In [11]:
# Eliminar filas donde NOMCLI tenga valores nulos
Tabla_Proyectos_Clientes = Tabla_Proyectos_Clientes.dropna(subset=["NOMCLI"])

# Verificar el nÃºmero de filas restantes
print(Tabla_Proyectos_Clientes.shape)

(1139, 6)

In [12]:
Tabla_Proyectos_Clientes.head(5)

,CODIGO,PROYECTO,NOMCLI,UBICACIÃ“N,LATITUD,LONGITUD
0,11975,Ruta Dario Lunes,"DUNAS,PARQUE DEL PLATA NORTE","Marcador 134\nlat/lng: (-34.74643,-55.71194)\n...",-34.746430,-55.711940
1,41938,Ruta Dario Lunes,ROSMARI,"Marcador 96\nlat/lng: (-34.7458,-55.75967)\n[h...",-34.745800,-55.759670
2,41939,Ruta Dario Lunes,LORENA,"Marcador 101\nlat/lng: (-34.74895,-55.76612)\n...",-34.748950,-55.766120
3,41971,Ruta Dario Lunes,PIZZERIA EL PAPO,"Marcador 22\nlat/lng: -34.74857,-55.76248\n[ht...",-34.748570,-55.762480
4,82191,Ruta Dario Lunes,EL GALPON,"http://maps.google.com/?q=-34.7569682,-55.7669689",-34.756968,-55.766969

## Exportamos

In [13]:
# Exportamos 
Tabla_Proyectos_Clientes.to_excel('../Limpia/Tabla_Proyectos_Clientes.xlsx', index=False)